@model AdvPOS.Models.DamageItemDeatilsViewModel.DamageItemDeatilsCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="BlueGreen">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Item Id</th><td>@Model.ItemId</td></tr>
            <tr><th>Total Damage Item</th><td>@Model.TotalDamageItem</td></tr>
            <tr><th>Reason Of Damage</th><td>@Model.ReasonOfDamage</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
