@model AdvPOS.Models.UserInfoFromBrowserViewModel.UserInfoFromBrowserCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr>
                <th>Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Browser Unique ID</th>
                <td>@Model.BrowserUniqueID</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>@Model.Lat</td>
            </tr>
            <tr>
                <th>Long</th>
                <td>@Model.Long</td>
            </tr>
            <tr>
                <th>Time Zone</th>
                <td>@Model.TimeZone</td>
            </tr>
            <tr>
                <th>Browser Major</th>
                <td>@Model.BrowserMajor</td>
            </tr>
            <tr>
                <th>Browser Name</th>
                <td>@Model.BrowserName</td>
            </tr>
            <tr>
                <th>Browser Version</th>
                <td>@Model.BrowserVersion</td>
            </tr>
            <tr>
                <th>CPU Architecture</th>
                <td>@Model.CPUArchitecture</td>
            </tr>
            <tr>
                <th>Device Model</th>
                <td>@Model.DeviceModel</td>
            </tr>
            <tr>
                <th>Device Type</th>
                <td>@Model.DeviceType</td>
            </tr>
            <tr>
                <th>Device Vendor</th>
                <td>@Model.DeviceVendor</td>
            </tr>
            <tr>
                <th>Engine Name</th>
                <td>@Model.EngineName</td>
            </tr>
            <tr>
                <th>Engine Version</th>
                <td>@Model.EngineVersion</td>
            </tr>
            <tr>
                <th>OS Name</th>
                <td>@Model.OSName</td>
            </tr>
            <tr>
                <th>OS Version</th>
                <td>@Model.OSVersion</td>
            </tr>
            <tr>
                <th>UA</th>
                <td>@Model.UA</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Modified Date</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
