@model AdvPOS.Models.RefreshTokenViewModel.RefreshTokenCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="BlueGreen">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>User Id</th><td>@Model.UserId</td></tr>
            <tr><th>Token</th><td>@Model.Token</td></tr>
            <tr><th>Jwt Id</th><td>@Model.JwtId</td></tr>
            <tr><th>Is Used</th><td>@Model.IsUsed</td></tr>
            <tr><th>Is Revorked</th><td>@Model.IsRevorked</td></tr>
            <tr><th>Added Date</th><td>@Model.AddedDate</td></tr>
            <tr><th>Expiry Date</th><td>@Model.ExpiryDate</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
