@model AdvPOS.Models.SendEmailHistoryViewModel.SendEmailHistoryCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr>
                <th>Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Invoice Id</th>
                <td>@Model.InvoiceId</td>
            </tr>
            <tr>
                <th>Sender Email</th>
                <td>@Model.SenderEmail</td>
            </tr>
            <tr>
                <th>Receiver Email</th>
                <td>@Model.ReceiverEmail</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>@Model.Result</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Modified Date</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
