@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(-3)"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@localizer["Quote Invoice List"]</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblQuoteInvoice" class="BlueGreen" style="width:100%">
                <thead>
                    <tr>
                        <th>@localizer["Id"]</th>
                        <th>@localizer["Customer"]</th>
                        <th>@localizer["Sub Total"]</th>
                        <th>@localizer["Discount"] %</th>
                        <th>@localizer["VAT"] %</th>
                        <th>@localizer["Grand Total"]</th>
                        <th>@localizer["Paid Amount"]</th>
                        <th>@localizer["Due Amount"]</th>
                        <th>@localizer["Created Date"]</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .h5 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>


<script src="~/js/PaymentQuote/PaymentQuote_CRUD.js"></script>
<script src="~/js/Payment/Payment_CRUD.js"></script>
<script src="~/js/PaymentQuote/PaymentQuote_Datatable.js"></script>
